{
    "openapi": "3.0.0",
    "info": {
        "title": "Faithly API",
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "0.1"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "2d2b7cf03c1a096abfe4791c5592f452",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "email": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "password": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "fullname": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "year_of_birth": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "role": {
                                        "description": "",
                                        "type": "string",
                                        "enum": [
                                            "organization admin",
                                            "organization member",
                                            "parent",
                                            "child",
                                            "individual"
                                        ],
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Success",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "subs_id": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "user_detail_id": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "org_id": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Role  Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Data Not Found",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Email Already Exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Data Not Found",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "cc1f51ea64eae1fe90a7487728ababc5",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "password": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Success Login",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "token": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "token_type": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "role": {
                                            "description": "",
                                            "type": "string",
                                            "example": "",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "65301c71771f764f443fe50e5716bc18",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Link Alredy Send to {email}",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "subject": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "to": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "from": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Email Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Email Not Found",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/confirm-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "6df899c851e57da3422abd80b2f7549e",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Provides user authentication token",
                        "required": true
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "password": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Password Has been Updated",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token Expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 401,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Token Expired",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Unknown Token",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resend-link": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "e1938dc64b6845c33317c24d167b99d6",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Link Alredy Send to {email}",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "subject": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "to": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "from": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Email Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Email Not Found",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/activate": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "d2ccfef530a4b164e25bc7a4bfe120a4",
                "parameters": [
                    {
                        "name": "Authentication",
                        "in": "header",
                        "description": "Provides user authentication token",
                        "required": true
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Provides user authentication token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Password Has been Updated",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token Expired",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 401,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Token Expired",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unknown Token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Unknown Token",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login-child": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "5113dcf1c6dd923669c0bef8ccaf0257",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "year": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    },
                                    "password": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Success Login",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "token": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "token_type": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "role": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Username or Password Invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Username or Password Invalid",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resend-link-forgot-pass": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "14298455c97c266328d66c7d45ac82de",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "description": "",
                                        "type": "string",
                                        "nullable": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Link Alredy Send to {email}",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "properties": {
                                                "subject": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "to": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "from": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Email Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Email Not Found",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/old-testament": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "old testament",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Success",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "version_id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "book_id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "name": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "version": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "testament": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "paginate": {
                                            "description": "",
                                            "properties": {
                                                "current_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "total": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "per_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "page_count": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "next_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                },
                                                "prev_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Data Not Found",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "paginate": {
                                            "description": "",
                                            "properties": {
                                                "current_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "total": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "per_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "page_count": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "next_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                },
                                                "prev_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/new-testament": {
            "get": {
                "tags": [
                    "books"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "new-testament",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 200,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Success",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "version_id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "book_id": {
                                                        "description": "",
                                                        "type": "integer",
                                                        "nullable": false
                                                    },
                                                    "name": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "version": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    },
                                                    "testament": {
                                                        "description": "",
                                                        "type": "string",
                                                        "nullable": false
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Servier Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 500,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "internal Server Error",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "paginate": {
                                            "description": "",
                                            "properties": {
                                                "current_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "total": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "per_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "page_count": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "next_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                },
                                                "prev_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "schema": "Success List Card",
                                    "properties": {
                                        "meta": {
                                            "description": "",
                                            "properties": {
                                                "response_code": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "example": 404,
                                                    "nullable": false
                                                },
                                                "response_message": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "Data Not Found",
                                                    "nullable": false
                                                },
                                                "response_debug_param": {
                                                    "description": "",
                                                    "type": "string",
                                                    "example": "",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "paginate": {
                                            "description": "",
                                            "properties": {
                                                "current_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "total": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "per_page": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "page_count": {
                                                    "description": "",
                                                    "type": "integer",
                                                    "nullable": false
                                                },
                                                "next_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                },
                                                "prev_page": {
                                                    "description": "",
                                                    "type": "boolean",
                                                    "nullable": false
                                                }
                                            },
                                            "type": "object",
                                            "nullable": false
                                        },
                                        "data": {
                                            "description": "List of data",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/card": {
            "get": {
                "tags": [
                    "card"
                ],
                "summary": "Returns a Sample API response",
                "description": "A sample greeting to test out the API",
                "operationId": "greet",
[...]
